/*page index*/
@font-face {
    font-family: "Cormorant Garamond";
    src: url("fonts/CormorantGaramond-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("fonts/CormorantGaramond-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

:root {
    --couleur-1: #FFF8E7;
    --couleur-2: #F0E6D2;
    --couleur-3: #3B2412;

    --police-titre: "Cormorant Garamond";
    --police-texte: Arial;

    --taille-carte: 280px;
    --rayon-carte: 15px;
    --rayon-bouton: 20px;
}

.header {
    display: flex;
    background-image: url("Photos/background.jpg");
    background-size: cover;
    height: 270px;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    height: 270px;
    width: 300px;
    padding-left: 100px;
}

.logo img {
    height: 240px;
    width: 240px;
    margin-bottom: 5px;
    border-radius: 50%;
    border: 15px solid var(--couleur-1);
    animation: couleur 1s linear infinite, bouger 2s ease-in-out infinite;
}

.onglet {
    width: 60px;
    height: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    background-color: var(--couleur-1);
    padding: 15px;
    border-radius: 10px;
    align-self: start;
    border: 5px solid var(--couleur-3);
}

.onglet span {
    height: 3px;
    width: 100%;
    background-color: var(--couleur-3);
    border-radius: 5px;
}

#menu {
    display: none;
    position: absolute;
    right: 160px;
    bottom: 5px;
    background-color: var(--couleur-2);
    padding: 20px;
    line-height: 50px;
}

#menuBtn {
    display: none;
}

#menuBtn:checked ~ #menu {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

nav a {
    text-decoration: none;
    color: var(--couleur-3);
}

#menu a:hover {
    background-color: white;
}

body {
    background-color: var(--couleur-1);
    color: var(--couleur-3);
}

main {
    min-height: 1200px;
    width: auto;
}

.slogan {
    font-family: var(--police-titre),serif;
    background-image: url("Photos/background.jpg");
    font-size: 80px;
    height: 100px;
    width: auto;
    text-align: center;
    font-weight: 700;
    margin: 5px;
    color: var(--couleur-1);
    border-radius: 30px;
}

h2 {
    font-family: var(--police-titre),serif;
    color: var(--couleur-3);
    text-align: center;
    font-size: 50px;
    margin: 20px 0 10px 0;
}

.presentation {
    font-family: var(--police-texte), sans-serif;
    color: var(--couleur-3);
    text-align: center;
    font-size: 30px;
    width: auto;
    line-height: 1.2;
    margin-top: 5px;
    margin-bottom: 10px;
}

.presentation a {
    color: var(--couleur-3);
    font-weight: bold;
    text-decoration: underline;
}

.presentation a:hover {
    background-color: white;
}

.offre-semaine {
    display: flex;
    align-items: center;
    height: 280px;
    width: auto;
    justify-content: space-evenly;
    margin: 20px;
}

.offre {
    width: var(--taille-carte);
    height: var(--taille-carte);
    position: relative;
}

.offre img {
    width: 97%;
    height: 97%;
    object-fit: cover;
    border-radius: var(--rayon-carte);
    border: 5px solid var(--couleur-3);
}

.autre_menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 280px;
    width: 100%;
    margin-bottom: 20px;
}

.burger, .broast, .pizza, .drinks {
    width: var(--taille-carte);
    height: var(--taille-carte);
    position: relative;
}

.burger img, .broast img, .pizza img, .drinks img {
    width: 97%;
    height: 97%;
    object-fit: cover;
    border-radius: var(--rayon-carte);
    border: 5px solid var(--couleur-3);
}

.zone-bouton {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 1px;
}

.btn-voir-plus {
    background-color: var(--couleur-3);
    color: var(--couleur-2);
    padding: 8px 40px;
    border-radius: var(--rayon-bouton);
    text-decoration: underline;
    font-family: var(--police-texte),sans-serif;
    font-weight: bold;
    font-size: 27px;
}

footer {
    background-color: var(--couleur-2);
    height: 270px;
    width: 100%;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.footer-contenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.entete {
    margin: 7px;
    font-size: 22px;
    font-family: var(--police-texte),sans-serif;
}

.copyright {
    font-family: var(--police-titre),serif;
    font-size: 40px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
    margin:0;
}

.entete h3 {
    color: var(--couleur-3);
    font-family: var(--police-titre),serif;
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0 0 10px 0;
}

.entete ul {
    list-style: none;
    padding:0;
}

.entete li {
    margin: 4px 0;
}

.entete a {
    color: var(--couleur-3);
    text-decoration: none;
}

.entete a:hover {
    text-decoration: underline;
}

.titre-menu{
    font-family: var(--police-titre),serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    align-items: center;
    margin:10px 0;
    color: var(--couleur-1);
    background-color: var(--couleur-3);
    border-radius: 20px;
}
.ligne1, .ligne1\.1, .ligne1\.2, .ligne1\.3 {
    display: flex;
    height:450px;
    width: auto;
    justify-content: space-evenly;
    margin: 20px 0;
}
.ligne2, .ligne2\.1, .ligne2\.2 , .ligne2\.3 {
    display: flex;
    height: 450px;
    width: auto;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.vegan-burger, .tower-burger,.nuggets, .Chicken-Broast,.chicken-fajita-pizza, .chicken-mexicaine-pizza,
.boisson-sucree, .autre-boisson{
    display: flex;
    height:450px;
    width:400px;
    align-content: center;
    position: relative;
}
.vegan-burger img, .tower-burger img, .nuggets img, .Chicken-Broast img, .chicken-fajita-pizza img,
.chicken-mexicaine-pizza img,.boisson-sucree img, .autre-boisson img{
    width: 380px;
    height: 360px;
    object-fit: cover;
    border: 10px solid var(--couleur-3);
}

.texte1,.texte2, .texte1\.1, .texte2\.1,.texte1\.2, .texte2\.2,.texte1\.3,.texte2\.3 {
    height: 70px;
    position: absolute;
    bottom: 0;
    Font-family: var(--police-texte), sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    background-color: var(--couleur-2);
    margin: 0;
    border: 10px solid var(--couleur-3);
}
.spicy-burger, .zinger-burger,.Injected-Broast, .Wings, .chicken-spicy-Pizza, .chicken-tikka-pizza,
.eau,.beer{
    display: flex;
    height:450px;
    width:400px;
    align-content: center;
    position: relative;
}
.spicy-burger img, .zinger-burger img, .Injected-Broast img, .Wings img, .chicken-spicy-Pizza img,
.chicken-tikka-pizza img, .eau img, .beer img{
    width: 380px;
    height: 360px;
    object-fit: cover;
    border: 10px solid var(--couleur-3);
}

.texte3,.texte4, .texte3\.1, .texte4\.1, .texte3\.2, .texte4\.2, .texte3\.3, .texte4\.3 {
    height: 70px;
    position: absolute;
    bottom: 0;
    Font-family: var(--police-texte), sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    background-color: var(--couleur-2);
    margin: 0;
    border: 10px solid var(--couleur-3);
}
.prix{
    position: absolute;
    bottom:100px;
    left:250px;
    font-family: var(--police-texte),sans-serif;
    font-size: 25px;
    font-weight:bold;
    height: 30px;
    width: 130px;
    background-color: var(--couleur-1);
    color: var(--couleur-3);
    border-radius: 30px;
    border: 1px solid var(--couleur-3);
    align-items: center;
    text-align: center;
}
.texte1\.2, .texte2\.2 {
    font-size: 18px;
}
.texte3\.2, .texte4\.2 {
    font-size: 17px;
}
.ligne2\.3{
    margin-bottom: 10px;
}
.texte2\.3{
    font-size: 19px;
}

@keyframes couleur {
    0% {
        border-top-color: yellow;
    }

    25% {
        border-right-color: red;
    }

    50% {
        border-bottom-color: yellow;
    }

    75% {
        border-left-color: red;
    }

    100% {
        border-top-color: yellow;
    }
}
@keyframes bouger {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(60px);
    }

    100% {
        transform: translateX(0);
    }
}
.Partie1, .Partie2 {
    height: 420px;
    width: auto;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    background-color: var(--couleur-2);
    padding:20px 0;
}
.Partie2{
    margin-top: 30px;
}
.sous-partie1, .sous-partie2 {
    height:400px;
    width: 400px;
    display: flex;
    border: 10px solid var(--couleur-3);
    border-radius: 30px;
    position: relative;

}
.photo1,.photo2{
    height:250px;
    width:400px;
    display: flex;
    position: absolute;
    bottom:0;
}
.photo2{
    height:280px;
}
.photo1 img, .photo2 img{
    height:100%;
    width:100%;
    object-fit: cover;
}
.reduction1, .reduction2{
    position: absolute;
    height:150px;
    width:400px;
    bottom: 250px;
    display:flex;
}
.reduction2{
    height:120px;
    bottom: 280px;
}
.reduction1 img, .reduction2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.explication1, .explication2{
    font-size:38px;
    position: relative;
    text-align: center;
    height:400px;
    width:500px;
    font-family:var(--police-texte), sans-serif;
    align-content: center;
    background-color: var(--couleur-1);
    border-radius: 30px;
    border: 10px solid var(--couleur-3);
}
.menu-2{
    height:100px;
    width:auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: var(--couleur-3);
    border-radius: 10px;
    border: 10px solid var(--couleur-3);
    margin-top: 10px;
}
.menu-2 a{
    height:60px;
    width:130px;
    border: 5px solid var(--couleur-3);
    border-radius: 30px;
    Font-size: 38px;
    color: var(--couleur-3);
    font-family: var(--police-titre),serif;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--couleur-2);
}
#Burger, #Broast, #Pizza, #Boisson {
    scroll-margin-top: 130px;
}
#Boisson{
    padding-bottom:40px;
}
.menu-2 a:hover {
    text-decoration: underline;
    background-color: var(--couleur-1);
    transform: scale(1.1);
}
html {
    scroll-behavior: smooth;
}
